

:root {
    --grid-side-length: 640px;
    --number-of-grid-squares: 16;
    --pen-color: #000;
    --contrast-color: #fff;
    --gradient-color: color-mix(in srgb, var(--pen-color), var(--contrast-color) 50%);
    --rgb-linear: linear-gradient(-45deg, rgba(255, 0, 0, .5), rgba(255, 255, 0, .5), rgba(0, 255, 0, .5), rgba(0, 255, 255, .5), rgba(0, 0, 255, .5), rgba(255, 0, 255, .5));
    --rgb-conic: conic-gradient(rgba(255, 0, 0, .5), rgba(255, 255, 0, .5), rgba(0, 255, 0, .5), rgba(0, 255, 255, .5), rgba(0, 0, 255, .5), rgba(255, 0, 255, .5));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

#container {
    background-image: radial-gradient(white, var(--gradient-color));
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

#grid {
    background-color: white;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, .2);
    box-sizing: content-box;
    border: 1px solid rgba(0, 0, 0, 20%);
    width: var(--grid-side-length);
    height: var(--grid-side-length);
    display: flex;
    flex-wrap: wrap;
}

.grid-square {
    width: calc(var(--grid-side-length) / var(--number-of-grid-squares));
    height: calc(var(--grid-side-length) / var(--number-of-grid-squares));
}

#controls {
    display: flex;
    width: var(--grid-side-length);
    justify-content: space-around;
    align-items: center;
}

#pen-color {
    appearance: none;
    background-color: transparent;
    padding: 0;
    border: none;
    width: 64px;
    height: 64px;
    cursor: pointer;
}

#pen-color:focus {
    outline: none;
}

#pen-color::-webkit-color-swatch-wrapper {
    padding: 0;
}

#pen-color::-webkit-color-swatch {
    border-radius: 100%;
    border-top-left-radius: 0;
    transform: rotate(45deg);
    border: none;
}

#switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

#rgb {
    opacity: 0;
    width: 0;
    height: 0;
}

#slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--pen-color);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

#slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--contrast-color);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

#rgb:checked + #slider {
    background-color: white;
    background-image: var(--rgb-conic);
}

#rgb:focus + #slider {
    box-shadow: 0 0 1px var(--pen-color);
}

#rgb:checked + #slider:before {
    background-color: white;
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

#pixel-size-label {
    color: var(--pen-color);
}

#change-pixel-size {
    margin: 12px 0;
}

#pixel-size {
    appearance: none;
    width: 100%;
    background-color: transparent;
}

#pixel-size:focus {
    outline: none;
}

#pixel-size::-webkit-slider-thumb {
    appearance: none;
    height: 16px;
    width: 16px;
    margin-top: -7px;
    border-radius: 50%;
    border: 2px solid var(--pen-color);
    background-color: var(--pen-color);
    cursor: pointer;
}

#pixel-size::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background-color: var(--pen-color);
}

.control-btn {
    background-color: transparent;
    color: var(--pen-color);
    font-size: large;
    font-weight: bold;
    padding: 12px 8px;
    height:fit-content;
    width: fit-content;
    border-style: none;
    border: 2px solid var(--pen-color);
    border-radius: 8px;
}

.control-btn:hover {
    cursor: pointer;
    box-shadow: 1px 1px 8px 0px var(--pen-color);
}